.main-dialog {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  background-color: var(--mantle);
  border: 2px solid var(--background);
  transition: background-color 2s ease;
  transition: 0.35s ease;
  border-radius: 16px;
  margin: 3em;
  margin-bottom: 0;
  overflow: hidden;
  &:hover {
    border: 2px solid var(--color-primary);
  }
}

.main-dialog__text {
  max-width: 75ch;
  font-size: 1.2rem;
}

.main-dialog__image {
  height: 300px;
  width: 300px;
  /* border: 2px solid var(--color-primary); */
  border-radius: 16px;

  >img {
    height: inherit;
    border-radius: 16px;
  }
}

.main-dialog__options {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 3em;

  >li {
    /* border: 2px solid;
    border-color: var(--color-primary); */
    border-radius: 12px;
    margin: 0.5em;
    background-color: var(--base);
    transition: 0.5s ease;
    >a {
      display: flex;
      text-decoration: none;
      color: var(--color-primary);
      padding: 1em;
      width: 100%;
      box-sizing: border-box;
      transition: 0.5s ease;
      justify-content: center;
      


      &:visited {
        color: var(--color-primary);
      }
    }

    &:hover {
      background-color: var(--color-primary);

      >a {
        color: var(--mantle);
      }
    }
  }
}

.option-red {
  &:hover {
    background-color: var(--red) !important;
  }
}

.option-green {
  &:hover {
    background-color: var(--green) !important;
  }
}

.option-blue {
  &:hover {
    background-color: var(--blue) !important;
  }
}

@media (max-width: 480px) {
  .main-dialog {
    margin: 1em;
  }
  .main-dialog__options {
    flex-direction: column;
    margin: 1em;
    margin-bottom: 0;
  }
}
